*,
body {
  font-family:'Helvetica', sans-serif;
}

html {
  background-color:#F4F6F8;
}

a {
  text-decoration: none;
  color:#414142;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top:100px;
}

.form-group input {
  border: 1px solid #D8DAD8;
  height: 50px;
  border-radius: 8px;
}

input#name,
input#email,
input#password {
  margin-bottom: 60px;
}

label {
  background-color: #fff;
  color: #737475;
  margin-bottom: -10px;
  margin-left: 25px;
  z-index: 2;
  width: fit-content;
}